<!-- home.component.html -->
<div class="container">
  <h1>Bem-vindo à Página Inicial</h1>
  <p>Esta é a página inicial do meu desafio.</p>
  
  <p>
    Este projeto consiste em uma aplicação que integra o front-end e o back-end, sendo o back-end compartilhado via GitHub com o nome "DesafioIBS".
  </p>
  
  <p>
    <strong>Sobre o Back-end:</strong>
  </p>
  
  <ul>
    <li><strong>NestJS:</strong> Um framework Node.js para construção de aplicações server-side eficientes e escaláveis.</li>
    <li><strong>Prisma:</strong> Uma ferramenta ORM (Object-Relational Mapping) moderna para Node.js e TypeScript.</li>
    <li><strong>class-transformer:</strong> Uma biblioteca para transformar objetos, garantindo a integridade dos dados.</li>
    <li><strong>class-validator:</strong> Uma biblioteca para validação de dados baseada em decorators.</li>
    <li><strong>RxJS:</strong> Uma biblioteca para programação reativa em JavaScript.</li>
  </ul>
  
  <p>
    Este back-end foi estruturado com o NestJS, seguindo boas práticas de desenvolvimento e utilizando ferramentas como o Prisma para interação com o banco de dados. Os dados são validados utilizando as bibliotecas <strong>class-transformer</strong> e <strong>class-validator</strong>, garantindo integridade e consistência dos dados.
  </p>

  <p>
    <strong>Sobre o Front-end:</strong>
  </p>
  
  <ul>
    <li><strong>Angular:</strong> Um framework JavaScript/TypeScript mantido pelo Google para construção de aplicações web modernas e responsivas.</li>
    <li><strong>Bootstrap:</strong> Um framework front-end para design responsivo e componentes web.</li>
    <li><strong>Font Awesome:</strong> Uma biblioteca de ícones para utilização em projetos web.</li>
    <li><strong>ngx-mask:</strong> Uma biblioteca Angular para aplicação de máscaras em campos de formulário.</li>
    <li><strong>ng-bootstrap:</strong> Uma biblioteca Angular para utilização dos componentes do Bootstrap de forma nativa no Angular.</li>
    <li><strong>rxjs:</strong> Uma biblioteca para programação reativa em JavaScript.</li>
    <li><strong>Express:</strong> Um framework web para Node.js que fornece um conjunto robusto de recursos para aplicativos web e móveis.</li>
  </ul>

  <p>
    Agradeço a oportunidade de participar do processo seletivo e estou à disposição para sanar qualquer dúvida ou fornecer mais informações sobre este projeto. Você pode entrar em contato comigo através do <a href="https://www.linkedin.com/in/paulochsouza/" target="_blank">linkedin.com/in/paulochsouza</a> ou pelo email <a href="mailto:paulo.charamba@gmail.com">paulo.charamba&#64;gmail.com</a>.
  </p>
</div>
